body {
   --ShinigamiEyesTFriendly: #77B91E;
   --ShinigamiEyesTransphobic: #991515;
}

.shinigami-eyes-theme-green-red-max {
   --ShinigamiEyesTFriendly: #00FF00;
   --ShinigamiEyesTransphobic: #FF0000;
}

.shinigami-eyes-theme-purple-yellow {
   --ShinigamiEyesTFriendly: rgb(153, 0, 255);
   --ShinigamiEyesTransphobic: rgb(179, 152, 0);
}

.shinigami-eyes-theme-cyan-orange {
   --ShinigamiEyesTFriendly: rgb(98, 161, 197);
   --ShinigamiEyesTransphobic: #FB6A4A;
}

.assigned-label-transphobic, a.assigned-label-transphobic { color: var(--ShinigamiEyesTransphobic) !important; }
.assigned-label-t-friendly, a.assigned-label-t-friendly { color: var(--ShinigamiEyesTFriendly) !important; }

.tooltip {
   position: relative;
   cursor: pointer;
}

.tooltip-t-friendly {
  border-bottom: 3px dotted var(--ShinigamiEyesTFriendly);
}

.tooltip-transphobic {
  border-bottom: 3px dotted var(--ShinigamiEyesTransphobic);
}


.google-tooltip-t-friendly {
  color: var(--ShinigamiEyesTFriendly) !important;
}

.google-tooltip-transphobic {
  color: var(--ShinigamiEyesTransphobic) !important;
}

.tooltip-text {
   font-size:15px !important;
  background-color: rgba(1,1,1,0.7);
  color: white;
  text-align: center;
  padding: 10px 0;
  border-radius: 6px;
  position: fixed;
  margin: 0;
}

.tooltip:hover .tooltip-text {
  transition: opacity 0.2s;
}

.has-assigned-label * { color: inherit !important; }
.shinigami-eyes-debug-snippet-highlight {
     outline: 2px dashed darkorchid !important;
     background-color: darkorchid !important;
     color: white !important;
 }
 .shinigami-eyes-debug-snippet-highlight:after {
    content: " ";
    pointer-events: none;
    z-index: 1000000;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: darkorchid !important;
    opacity: 0.5;
 }
